.cover {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem;
}

.cover > :first-child:not(.centered') {
  margin-top: 0;
}

.cover > :last-child:not(.centered') {
  margin-bottom: 0;
}

.cover > '.centered' {
  margin-top: auto;
  margin-bottom: auto;
}
