.sidebar > * {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    margin: calc(1rem / 2 * -1);
}

/* TODO: find a way to pass this props*/
.sidebar > * > * {
    flex-basis: 300px;
    flex-grow: 1;
    margin: calc(1rem / 2);
}

.sidebar > * > :first-child {
    flex-basis: 0;
    flex-grow: 999;
    min-width: calc(30ch - 1rem);
}
