.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stack > * + * {
  margin-top: 1rem;
}

/**
 * The StackSplit breaks the stack and flows forces itself and everything above to the end of the Stack. Pass the space prop to have a min space between the items above
 */
.stack--split {
  margin-top: auto;
  padding-top: 1rem;
}
